<form class="well">
	<!--<div class="controls">
		    <input type="submit" class="btn btn-primary" ng-click="save()" value="Save List">
	    </div>-->
	<h4>New List</h4>
	<span ng-hide="saved">saving...</span>
	<span ng-show="saved">saved</span>
	<br />
	<div class="row-fluid">
		<input class="span12" type="text" ng-model="list.Name" placeholder="list name" ng-model-onblur ng-change="insertOrUpdateList()" />
	</div>
	<fieldset>
		<legend>Items</legend>
		<div>
			<ul class="unstyled">
				<li ng-repeat="item in list.Items" class='row-fluid'>
					{{item.Quantity}} {{item.QuantityType.Name}} {{item.Name}}
					<button class="close" ng-click="deleteItem($index)" aria-hidden="true">&times</button>

				</li>
			</ul>
		</div>
	</fieldset>

	<ng:form name="ingredientsForm">
		<fieldset >
			<legend>Add item</legend>
			<div class="row-fluid">
				<input class="span4" type="text" ng-model="foodSearch" placeholder="item" typeahead-on-select="foodSelected($item)" typeahead="suggestion.Name for suggestion in foods($viewValue)" />
				<select  class="span4" ng-model="quantityType" ng-options="ingType.Name for ingType in ingredientQuantityTypes" />
				<input  class="span4" type="number" ng-model="quantity" placeholder="quantity" min="0" />
			</div>
				<div class="controls">
					<button class="btn btn-primary btn-sm"  ng-click="addItem()" ng-disabled="ingredientsForm.$invalid">
						<i class="icon-plus icon-white"></i>
					</button>
				</div>
			</fieldset>
	</ng:form>

	<fieldset>
		<legend>My recipes</legend>
		<div>Search your recipes:</div>
		<div class="row-fluid">
			<input class="span4" ng-model="query" type="text">
		</div>
		<accordion>
			<accordion-group ng-repeat="recipe in recipes | filter:query">
				<accordion-heading>
					{{recipe.Name}}
				</accordion-heading>
				<input type="button" class="btn btn-primary btn-sm" value="add all" ng-click="addAllIngredients($index)" />
				<ul class="unstyled">
					<li ng-repeat="ing in recipe.Ingredients">
						<button class="btn btn-primary btn-sm" ng-click="addIngredient($parent.$index, $index)">
						<i class="icon-plus icon-white"></i>							
						</button>
						{{ing.Quantity}} {{ing.QuantityType.Name}} {{ing.Food.Name}}
					</li>
				</ul>
			</accordion-group>
			</accordion>
		<!--<ul>
		<li ng-repeat="recipe in recipes| filter:query">{{recipe.Name}}
			<input type="button" value="show items" ng-click="getIngredientsForRecipe($index, updateRecipe)"  />
			<input type="button" value="add all items" ng-click="addAllIngredients($index)" />
			<ul>
				<li ng-repeat="ing in recipe.Ingredients">
					<input type="button" value="add item" ng-click="addIngredient($parent.$index, $index)" />
					{{ing.Quantity}} {{ing.QuantityType.Name}} {{ing.Food.Name}}
				</li>
			</ul>
		</li>
	</ul>-->
	</fieldset>
</form>
