<ng:form class="well">
	<span ng-hide="saved">saving...</span>
	<span ng-show="saved">saved</span>
	<br />
	<div class="row-fluid">
		<input class="span12" type="text" ng-model="list.Name" placeholder="list name" ng-model-onblur ng-change="insertOrUpdateList()" />
	</div>
	<fieldset>
		<legend>Items</legend>
		<div>
			<ul class="unstyled" ng-sortable="{update: finished}">
				<li ng-repeat="item in list.Items" class='row-fluid' >
					<img class="handle" src="/img/up-down-arrow.png" ng/>
					<span ng-show="item.Quantity != 0">{{item.Quantity}}</span> {{item.QuantityType.Name}} {{item.Name}} 
					<span class="recipeIndex" hidden>{{$index}}</span>
					<span class="itemOrder">{{item.Order}}</span>
					<button class="close" ng-click="deleteItem(item)" aria-hidden="true">&times</button>

				</li>
			</ul>
		</div>
	</fieldset>

	<ng:form name="ingredientsForm">
		<fieldset >
			<legend>Add item</legend>
			<div class="row-fluid">
				<input class="span4" type="text" ng-model="foodSearch" placeholder="item" typeahead-on-select="foodSelected($item)" typeahead="suggestion.Name for suggestion in foods($viewValue)" />
				<select  class="span4" ng-model="quantityType" ng-options="ingType.Name for ingType in ingredientQuantityTypes" />
				<input  class="span4" type="number" ng-model="quantity" placeholder="quantity" min="0" />
			</div>
				<div class="controls">
					<button class="btn btn-primary btn-sm"  ng-click="addItem()" ng-disabled="ingredientsForm.$invalid">
						<i class="icon-plus icon-white"></i>
					</button>
				</div>
			</fieldset>
	</ng:form>

	<fieldset>
		<legend>My recipes</legend>
		<div>Search your recipes:</div>
		<div class="row-fluid">
			<input class="span4" ng-model="query" type="text">
		</div>
		<accordion>
			<accordion-group ng-repeat="recipe in recipes | filter:query">
				<accordion-heading>
					{{recipe.Name}}
				</accordion-heading>
				<input type="button" class="btn btn-primary btn-sm" value="add all" ng-click="addIngredientsForRecipe($index)" />
				<ul class="unstyled">
					<li ng-repeat="ing in recipe.Ingredients">
						<button class="btn btn-primary btn-sm" ng-click="addIngredient($parent.$index, $index)">
						<i class="icon-plus icon-white"></i>							
						</button>
						{{ing.Quantity}} {{ing.QuantityType.Name}} {{ing.Food.Name}}
					</li>
				</ul>
			</accordion-group>
			</accordion>
	</fieldset>
</ng:form>
