@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<title>SortTest</title>
</head>
<body>
	<div ng-app>
		<div ng-controller="Ctrl">
			<ul>
				<li ng-repeat="f in friends | orderBy:'order'">{{f.name}}</li>
			</ul>
		</div>
	</div>
	<script src="../../scripts/lib/angular/angular.js"></script>
	<script>
		function Ctrl($scope) {
			$scope.friends =
			[{ name: 'John', phone: '555-1212', age: 10, order: 1 },
				{ name: 'Mary', phone: '555-9876', age: 19, order: 2 },
				{ name: 'Mike', phone: '555-4321', age: 21, order: 26 },
				{ name: 'Adam', phone: '555-5678', age: 35, order: 12 },
				{ name: 'Julie', phone: '555-8765', age: 29, order: 15 }];
		}
	</script>
</body>

</html>
