@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>TouchSort</title>
</head>
	<body>
		<ul>
			<li><strike> Refactor so touch and mouse use same code.</strike></li>
			<li><strike>Make it so the whole object is copied</strike></li>
			<li><strike>Add 'handle' for dragging.</strike></li>
			<li><strike>Add line where item will be inserted, ala workflowy.</strike></li>
			<li><strike>Add auto scroll, up and down</strike></li>
		</ul>
		<div style='border-color:rgb(51,51,51); border-style: solid; border-width: 1px'><div></div></div>
		<div>
			@*<div class="draggable" style="position: absolute; width: 200px; height: 200px; background: #f00;"></div>
		<div class="draggable" style="position: absolute; width: 50px; height: 50px; background: #f00;"></div>*@
			<div id="console">
				@*<div>Console here, waiting for info</div>*@
			</div>
			<ul class="draggable">
				<li><img class="handle" src="/img/up-down-arrow.png" />Item 1</li>
				<li><img class="handle" src="/img/up-down-arrow.png" />Item 2</li>
				<li><img class="handle" src="/img/up-down-arrow.png" />Item 3</li>
				<li><img class="handle" src="/img/up-down-arrow.png" />Item 4</li>
				<li><img class="handle" src="/img/up-down-arrow.png" />Item 4</li>
				<li><img class="handle" src="/img/up-down-arrow.png" />Item 5</li>
				<li><img class="handle" src="/img/up-down-arrow.png" />Item 6</li>
				<li><img class="handle" src="/img/up-down-arrow.png" />Item 7</li>
				<li><img class="handle" src="/img/up-down-arrow.png" />Item 8</li>
				<li><img class="handle" src="/img/up-down-arrow.png" />Item 9</li>
				<li><img class="handle" src="/img/up-down-arrow.png" />Item 10</li>
				<li><img class="handle" src="/img/up-down-arrow.png" />Item 11</li>
				<li><img class="handle" src="/img/up-down-arrow.png" />Item 12</li>
				<li><img class="handle" src="/img/up-down-arrow.png" />Item 13</li>
				<li><img class="handle" src="/img/up-down-arrow.png" />Item 14</li>
				<li><img class="handle" src="/img/up-down-arrow.png" />Item 15</li>
				<li><img class="handle" src="/img/up-down-arrow.png" />Item 16</li>
				<li><img class="handle" src="/img/up-down-arrow.png" />Item 17</li>
				<li><img class="handle" src="/img/up-down-arrow.png" />Item 18</li>
				<li><img class="handle" src="/img/up-down-arrow.png" />Item 19</li>
				<li><img class="handle" src="/img/up-down-arrow.png" />Item 20</li>
				<li><img class="handle" src="/img/up-down-arrow.png" />Item 21</li>
				<li><img class="handle" src="/img/up-down-arrow.png" />Item 22</li>
				<li><img class="handle" src="/img/up-down-arrow.png" />Item 23</li>
				<li><img class="handle" src="/img/up-down-arrow.png" />Item 24</li>
				<li><img class="handle" src="/img/up-down-arrow.png" />Item 25</li>
				<li><img class="handle" src="/img/up-down-arrow.png" />Item 26</li>
				<li><img class="handle" src="/img/up-down-arrow.png" />Item 27</li>
				<li><img class="handle" src="/img/up-down-arrow.png" />Item 28</li>
				<li><img class="handle" src="/img/up-down-arrow.png" />Item 29</li>
				<li><img class="handle" src="/img/up-down-arrow.png" />Item 30</li>
				<li><img class="handle" src="/img/up-down-arrow.png" />Item 32</li>
				<li><img class="handle" src="/img/up-down-arrow.png" />Item 33</li>
				<li><img class="handle" src="/img/up-down-arrow.png" />Item 34</li>
				<li><img class="handle" src="/img/up-down-arrow.png" />Item 35</li>
				<li><img class="handle" src="/img/up-down-arrow.png" />Item 36</li>
				<li><img class="handle" src="/img/up-down-arrow.png" />Item 37</li>
				<li><img class="handle" src="/img/up-down-arrow.png" />Item 38</li>
				<li><img class="handle" src="/img/up-down-arrow.png" />Item 39</li>
				<li><img class="handle" src="/img/up-down-arrow.png" />Item 40</li>
			</ul>
			@*<ul>
			<li class="draggable" style="position: absolute;">
				<div style="position: absolute; width: 50px; height: 50px; background: #f00;"></div>
			</li>
		</ul>*@
			<div>
			</div>


		@*	<ul class="draggable">
			<li>Item 1</li>
				<li>Item 2</li>
				<li>Item 3</li>
				<li>Item 4</li>
				<li>Item 5</li>
				<li>Item 6</li>
				<li>Item 7</li>
				<li>Item 8</li>
				<li>Item 9</li>
				<li>Item 10</li>
				<li>Item 11</li>
				<li>Item 12</li>
				<li>Item 13</li>
				<li>Item 14</li>
				<li>Item 15</li>
				<li>Item 16</li>
				<li>Item 17</li>
				<li>Item 18</li>
				<li>Item 19</li>
		</ul>*@
		@*<ul class="draggable">
			<li><span class="handle">: : :</span> Item 1</li>
			<li><span class="handle">: : :</span> Item 2</li>
			<li><span class="handle">: : :</span> Item 3</li>
			<li><span class="handle">: : :</span> Item 4</li>
			<li><span class="handle">: : :</span> Item 5</li>
			<li><span class="handle">: : :</span> Item 6</li>
		</ul>*@

			@*<div class="draggable" style="position:absolute; top:50px; left:20; width:200px; height:200px; background:#f00;"></div>
        <div class="draggable" style="position:absolute; top:50px; left:20; width:50px; height:50px; background:#f00;"></div>
        
        <div>
            <button id="enable">Enable</button>
            <button id="disable">Disable</button>
        </div>*@

		</div>
	</body>
	<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
	<script src="../../scripts/touchsort.js"></script>
<script>
	$(document).ready(function () {
		$(".draggable").draggableTouch();
	});
</script>
</html>
